/* Write your code here. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-container {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  min-height: 100vh;
  background-size: cover;
  transform: rotate(45);
}
.emoji-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.emoji-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 460px;
}
